@import url(./root.css);

.choose_yellow_box {
    max-width: 1308px;
    min-height: 825px;
    background: var(--color-cream);
    border-radius: 36px;
    padding: 109px 84px;
    margin-top: 75px;
    margin-bottom: 75px;
}

.choose_sub_heading {
    font-size: var(--font-sm);
    color: var(--color-lite-black);
    line-height: 24px;
    font-weight: 600;
}

.choose_sub_paragraph {
    font-weight: 400;
    font-size: var(--font-sm);
    color: var(--color-lite-black);
    line-height: 24px;
    opacity: 70%;
    margin-top: 10px;
}

.choose_common_box {
    min-width: 28px;
    height: 28px;
    border-radius: 50%;
    background: var(--color-lite-cream);
}

.choose_text_parent {
    max-width: 491px;
    width: 100%;
}

.choose_img {
    width: 275px;
    border-radius: 36px;
    transition: all linear 300ms;
}

.choose_img_radius {
    border-radius: 36px;
}

.choose_img:hover {
    transform: scale(1.1);
}

.choose_img_parent {
    width: 275px;
}

.choose_mic_img {
    width: 275px;
    max-height: 503px;
    border-radius: 36px;
    transition: all linear 300ms;
}

.choose_mic_img:hover {
    transform: scale(1.1);
}

.choose_img_gap {
    width: 575px;
    gap: 25.50px;
}

/* Frequently */
.frequently_top_spacing {
    padding-top: 75px;
    margin-bottom: -30px;
}

.accordion-button {
    border: none !important;
    box-shadow: none !important;
    background: none !important;
    color: var(--color-lite-black) !important;
    font-weight: 600;
    font-size: var(--font-sm);
    line-height: 24px;
    border-radius: 24px;
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.accordion-body {
    max-width: 989px;
    font-weight: 400;
    font-size: var(--font-sm);
    line-height: 24px;
    color: var(--color-lite-black);
    opacity: 70%;
    border-radius: 24px;
    padding: 2px 24px 16px 24px !important;
}

.accordion-item {
    border-radius: 20px !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: 1px solid #01010133 !important;
}

.accordion-item:has(.show) {
    background: #FEF9ED !important;
    border: 1px solid #01010133 !important;
}

.accordion_top_spacing {
    margin-top: 24px;
}

.accordion {
    max-width: 1140px !important;
    width: 100%;
    margin-top: 60px;
}

.accordion-button::after {
    background-image: url(../images/svg/accodion-bottom-icon.svg) !important;
}

.accordion {
    --bs-accordion-btn-icon-width: 20px !important;
}

/* newsletter */
.newsletter_box {
    max-width: 1308px;
    min-height: 328px;
    width: 100%;
    border-radius: 36px;
    background: var(--color-secondary-green);
    padding: 65px 65px;
    transform: translateY(53%);
}

.newsletter_input_box {
    max-width: 347px;
    padding: 16px 24px 16px 24px;
    border-radius: 88px;
    background: white;
}

.newsletter_input {
    outline: none !important;
    border: none;
    width: 100%;
}

.newsletter_input::placeholder {
    font-weight: 400;
    font-size: var(--font-sm);
    line-height: 24px;
    color: var(--color-lite-black);
}

.footer_parent_radius {
    border-radius: 36px 36px 0px 0px;
    padding-top: 240px;
    padding-bottom: 66px;
}

.footer_paragraph {
    max-width: 345px;
}

.footer_icon_box {
    width: 30.57px;
    height: 30.57px;
    border-radius: 50%;
    background: #214635;
    transition: all linear 300ms;
}

.footer_icon_box:hover {
    box-shadow: 0px 0px 10px 1px rgba(33, 70, 53, 1);
}

footer ul li a {
    transition: all linear 300ms;
}

footer ul li a:hover {
    opacity: unset !important;
}

/* services */
.services_box {
    max-width: 1308px;
    width: 100%;
    padding: 102px 84.5px;
    background: var(--color-azureish-white);
    border-radius: 36px;
    margin-top: 75px;
}

.services_card {
    max-width: 267px;
    width: 100%;
    background: white;
    border-radius: 20px;
    padding: 16px 40px;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.services_card_padding {
    padding: 16px 29px;
}

.services_card_sub_heading {
    font-weight: 600;
    font-size: var(--font-3xl);
    line-height: 32.4px;
    color: var(--color-lite-black);
}

.services_card_paragraph {
    font-weight: 400;
    font-size: var(--font-sm);
    line-height: 24px;
    opacity: 70%;
    color: var(--color-lite-black);
    margin-top: 12px;
}

.services_Learn_text {
    gap: 6px;
    margin-top: 13px;
}

.services_Learn_text img {
    transition: all linear 300ms;
}

.services_Learn_text:hover img {
    transform: translateX(5px);
}

.services_icon_box {
    width: 48px;
    height: 48px;
    background: #21463524;
    border-radius: 50%;
    margin-bottom: 10px;
}

.services_card_ellipse {
    width: 109px;
    height: 109px;
    border-radius: 50%;
    position: absolute;
    right: -20%;
    bottom: -33%;
}

.services_electricity_ellipses_color {
    background: var(--color-orange);
    opacity: 30%;
}

.services_gas_ellipses_color {
    background: var(--color-secondary-green);
    opacity: 30%;
}

.services_internet_ellipses_color {

    background: var(--color-cream);
    opacity: 40%;
}

.services_insurance_ellipses_color {
    background: var(--color-secondary-green);
    opacity: 30%;
}

/* gap , margin padding */
.footer_icon_parent {
    gap: 10.57px;
    margin-top: 20px;
}

.newsletter_input_top_spacing {
    margin-top: 30px;
}

.services_card_top_padding {
    padding-top: 60px;
}

.services_btn_top_padding {
    padding-top: 48px;
}

.choose_icon_gap {
    gap: 10px;
}

.choose_start_btn {
    margin-top: 48px;
}

.choose_group_img {
    max-width: 576px;
    width: 100%;
}

.footer_heading_gap {
    margin-bottom: 12px;
}

.footer_text_gap {
    gap: 12px;
}

ol,
ul {
    padding-left: unset !important;
}

.footer_green_box {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* ellipse */
.choose_yellow_top_ellipse {
    width: 331px;
    height: 331px;
    background: var(--color-yellow);
    border-radius: 50%;
    position: absolute;
    opacity: 30%;
    top: -13%;
    left: -20%;
}

.choose_bottom_ellipse {
    width: 331px;
    height: 331px;
    background: var(--color-orange);
    border-radius: 50%;
    position: absolute;
    opacity: 30%;
    bottom: -21%;
    right: -21%;
}

/* popup */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.popup-content {
    margin: 5% auto;
    padding: 20px;
    width: 20%;
    font-size: var(--font-5xl);
    color: white;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.work_sec_lady_call_img {
    transition: all linear 300ms;
}

.work_sec_lady_call_img:hover {
    transform: scale(1.1);
}

.work_sec_family_img {
    transition: all linear 300ms;
}

.work_sec_family_img:hover {
    transform: scale(1.1);
}

.Satisfied_Customers_box {
    transition: all linear 300ms;
}

.Satisfied_Customers_box:hover {
    transform: scale(1.1);
}

.submit_btn {
    height: 56px;
}

/* back to top  */
#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #62AAA7;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    transition: all linear 300ms;
}

#backToTop:hover {
    background-color: var(--color-secondary-green);
}

@media (min-width:1200px) and (max-width:1536px) {
    .footer_custom_container {
        max-width: 1164px !important;
    }
}

@media (max-width:1199.98px) {
    .choose_yellow_box {
        padding: 70px 30px;
    }

    .services_box {
        padding: 80px 30px;
    }

    .choose_img {
        width: 229px;
    }

    .choose_mic_img {
        width: 229px;
    }

    .choose_img_gap {
        max-width: 488px;
    }

}

@media (max-width:991.98px) {
    .choose_img_gap {
        width: unset;
    }

    .choose_img_gap {
        max-width: unset;
    }

    .footer_parent_radius {
        padding-top: 210px;
    }

    .choose_mic_img {
        max-height: 300px;
    }

    .choose_yellow_box {
        padding: 35px 30px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .choose_start_btn {
        margin-top: 25px;
    }

    .footer_heading_gap {
        margin-bottom: unset;
    }

    .footer_parent_radius {
        padding-bottom: 50px;
    }

    .services_card_top_padding {
        padding-top: 20px;
    }

    .services_box {
        padding: 50px 30px;
        margin-top: 50px;
    }

    .accordion {
        margin-top: 30px;
    }

    .frequently_top_spacing {
        padding-top: 50px;
        margin-bottom: -70px;
    }

    .choose_text_parent {
        max-width: unset;
        width: 100%;
    }


}

@media (max-width:767.98px) {
    .frequently_top_spacing {
        margin-bottom: -116px;
    }

    .text_md_20 {
        font-size: 20px;
    }

    .choose_sub_paragraph {
        margin-top: unset;
    }

    .frequently_top_spacing {
        padding-top: 30px;
    }

    .services_card {
        max-width: unset;
    }

    .accordion-button {
        padding-bottom: 5px !important;
    }

    .submit_btn {
        max-width: 347px;
        width: 100%;
    }

    .services_box {
        border-radius: 24px;
    }

    .services_card {
        border-radius: 24px;
    }

    .choose_yellow_box {
        border-radius: 24px;
    }
    #backToTop{
        padding: 10px;
    }
    .newsletter_box{
        border-radius: 24px;
    }
    .footer_parent_radius {
        border-radius: 24px 24px 0px 0px;
    }
}

@media (max-width:575.98px) {
    .newsletter_box {
        transform: translateY(48%);
        padding: 30px;
    }

    .services_btn_top_padding {
        padding-top: 30px;
    }

    .frequently_top_spacing {
        margin-bottom: -150px;
    }

    .footer_green_box {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .footer_icon_parent {
        margin-top: 24px;
    }

    .services_box {
        margin-top: 30px;
    }

    .choose_yellow_box {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .services_card {
        max-width: 267px;
    }

    .accordion {
        --bs-accordion-btn-icon-width: 12px !important;
    }
    #backToTop{
        padding: 7px;
    }

}