@import url(./root.css);

/* ========================================== Address Section Start Here ===================================================== */
.address_section .nav_tabs {
  border: 0.5px solid var(--color-lite-blue);
  background-color: var(--color-grey);
  border-radius: 100px;
  width: fit-content !important;
  margin: 0 auto !important;
}

.nav_tabs .nav_link {
  border-radius: 100px !important;
  border: none !important;
  color: var(--color-lite-black) !important;
}

.nav_tabs .nav_link.active {
  background-color: var(--color-lite-blue) !important;
  color: white !important;
}

.home_owner {
  width: 175px;
  height: 56px;
}

.home_renter {
  width: 175px;
  height: 56px;
}

.address_form {
  max-width: 566px !important;
}

.text_input {
  border: 0.5px solid var(--color-lite-black);
  border-radius: 20px;
  outline: none;
  height: 56px;
}

.checkbox {
  border: 0.5px solid var(--color-lite-black);
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.checkbox_txt {
  color: #1839e8;
}

.checkbox_part {
  cursor: pointer;
  width: fit-content;
  padding-top: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.connected_btn {
  max-width: 188px !important;
  height: 56px;
  border-radius: 100px;
  background-color: var(--color-yellow);
  outline: none;
  transition: all 200ms linear;
  border: none;
  width: fit-content !important;
}

.calender_box {
  border: 0.5px solid var(--color-yellow);
  background: #f1c0450a;
  border-radius: 36px;
  padding: 36px 42px;
}

.calender_svg {
  box-shadow: 0px 4.71px 70.63px 0px #5928e50a;
}

/* ========================================== Customer service section Start Here ============================================= */
.slider_parent {
  --slider-inner-width: 1920px;
  --slider-speed: 60s;
}

.slider_parent {
  display: flex;
  gap: 24px;
  animation: scroll linear infinite var(--slider-speed);
  width: calc(2 * var(--slider-inner-width));
  transition: animation-play-state ease 110s;
}

.slider_parent:hover {
  animation-play-state: paused;
}

.slider_container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider_container .slider_parent {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}

/* ========================================== Customer Section Start Here ===================================================== */

.customers_box {
  max-width: 1308px;
  background: #62aaa733;
  border-radius: 36px;
  margin: 0 16px !important;
  padding: 110px 0;
}

.change_z_ind {
  z-index: -10;
}

.py_60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.customers_img {
  max-width: 557px;
}

.custom_container {
  max-width: 1164px;
  margin: 0 auto;
  padding: 0 12px;
}

.slider_image_one {
  max-width: 89px;
}

.slider_image_two {
  max-width: 164px;
}

.slider_container {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}

.slider_parent {
  display: flex;
  gap: 24px;
  width: auto;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.slider_parent {
  animation-name: slide;
}

.slider_parent:hover,
.slider_container:hover .slider_parent {
  animation-play-state: paused;
}

.slide_image_box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid var(--color-lite-blue);
  width: 209px;
  background: #62aaa70a;
  border-radius: 12px;
  min-height: 108px;
}

.review_box {
  max-width: 267px;
  min-height: 211px;
  border-radius: 20px;
}

.years_box {
  background-color: var(--color-green);
  min-height: 211px;
  border-radius: 20px;
}

.reviews_box {
  background-color: var(--color-cream);
  min-height: 211px;
  border-radius: 20px;
}

.review_img {
  width: 38px;
}

.gap_6 {
  gap: 6px;
}

.star_img_w {
  max-width: 168px;
}

.review_txt {
  padding-top: 10.39px;
}

.review_text {
  color: #4d4d4d !important;
}

/* ========================================== Clients Section Start Here ===================================================== */

.rounded_38 {
  border-radius: 38px !important;
}

.trust_star_img {
  max-width: 156px;
}

.edward_card {
  padding: 12px;
  padding-top: 41px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 4px 4px 65.5px 0px #0000000d;
}

.edward1_img {
  width: 107px;
}

.common_comma {
  width: 32px;
}

.comma_2 {
  transform: rotate(180deg);
}

.gap_40 {
  gap: 40px;
}

.clients_slider.slick-dotted.slick-slider {
  margin-bottom: 60px !important;
}

.edward_images {
  top: 41px;
  left: 50%;
  transform: translateX(-50%);
}

.edward_txt {
  background-color: #f7f7f7;
  margin-top: 54px;
  padding: 0 10px;
  padding-top: 69px;
  padding-bottom: 44px;
  border-radius: 12px;
}

.slick-dots li.slick-active button:before p {
  margin: 0 !important;
}

.clients_slider {
  padding-bottom: 36px !important;
}

/* clients slider code here */
.clients_slider .slick-slide {
  margin: 0 11px;
}

.clients_slider .slick-list {
  margin: 0 -6px;
}

.clients_slider.slick-slider .slick-list {
  box-shadow: 4px 4px 65.5px 0px #00000014;
  border-radius: 20px;
}

.clients_slider .slick-dots li.slick-active button:before {
  width: 40px;
  height: 8px;
  border-radius: 14px;
  background-color: var(--color-yellow);
  opacity: 100% !important;
  color: unset !important;
  font-size: 0 !important;
}

.clients_slider .slick-dots li {
  width: 28px;
  height: 8px;
  border-radius: 14px;
  background-color: #fbf1d7;
  margin: 0 8px;
}

.slick-dots li button:before {
  content: "" !important;
}

.clients_slider .slick-dots {
  border: 0.3px solid #f1c045;
  width: 270px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -59px;
}

.clients_slider .slick-list {
  background-color: #00000005 !important;
}

.clients_section .prev,
.next {
  outline: none !important;
  border: none !important;
  background-color: transparent !important;
  transition: all 300ms linear !important;
}

.clients_section .next {
  left: 58.4%;
  bottom: 7px;
  transform: rotate(180deg);
}

.clients_section .prev {
  right: 58.4%;
  bottom: 7px;
}

.clients_section .prev svg,
.clients_section .next svg {
  fill: #7e796c;
  border-radius: 50%;
  transition: all 300ms linear !important;
}

.clients_section .prev svg:hover,
.clients_section .next svg:hover {
  background-color: var(--color-yellow);
  border-radius: 50%;
}

.clients_section .prev:hover svg path,
.clients_section .next svg:hover path {
  fill: black !important;
}

.common_padding_slider {
  padding: 60px 0;
}

.rounded_16 {
  border-radius: 16px !important;
}

/* =========================================================== Slider Keyframe  ===================================================== */
@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc((0px - var(--slider-inner-width)) - 0%));
  }
}

/* =========================================================== Min Width  ===================================================== */

@media (max-width: 1199.11px) {
  .clients_slider .slick-dots {
    width: 316px;
  }

  .clients_section .next {
    left: 62%;
  }

  .clients_section .prev {
    right: 62%;
  }
}

/* =========================================================== Max Width  =========================================================== */
@media (min-width: 1620px) {
.customers_box{
  padding: 110px 85px !important ;
  max-width: auto;
}
}
@media (min-width: 992px) {
  .address_form {
    max-width: 475px !important;
  }
}

@media (max-width: 991.11px) {
  .calender_box {
    max-width: 566px;
    border-radius: 24px;
  }

  .max_width_1308 {
    border-radius: 24px;
    padding: 50px 0;
  }

  .clients_section .prev {
    right: 66.3% !important;
  }

  .clients_section .next {
    left: 66.3% !important;
  }

  .years_box {
    min-height: 171px;
  }

  .reviews_box {
    min-height: 171px;
  }

  .edward_txt {
    padding-bottom: 14px;
  }
}

@media (max-width: 767.11px) {
  .clients_section .next {
    left: 71.3% !important;
  }

  .clients_section .prev {
    right: 71.3% !important;
  }
}

@media (max-width: 575.11px) {
  .home_owner {
    width: 140px;
    height: 45px;
  }

  .home_renter {
    width: 140px;
    height: 45px;
  }

  .star_img_w {
    max-width: 134px;
  }

  .px_sm_6 {
    padding: 0 6px !important;
  }

  .calender_box {
    padding: 20px 12px;
  }

  .common_padding_slider {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .clients_slider .slick-dots {
    width: 200px;
  }

  .address_section_h,
  .customers_h {
    line-height: 38px;
  }

  .text_input {
    height: 50px;
    border-radius: 10px;
  }

  .gap-35 {
    gap: 35px;
  }

  .slide_image_box {
    width: 185px;
    min-height: 90px;
  }

  .slider_image_one {
    max-width: 57px;
  }

  .slider_image_two {
    max-width: 130px;
  }

  .text_md {
    font-size: 15px;
  }

  .clients_section .next {
    left: 51.3% !important;
    bottom: -22px;
  }

  .clients_section .prev {
    right: 51.3% !important;
    bottom: -22px;
  }

  .clients_section {
    padding-bottom: 56px;
  }
}
