dl,
ol,
ul {
    margin-bottom: 0 !important;
}

ol,
ul {
    padding-left: 0 !important;
}

.home {
    transition: 400ms linear;
}

.home:hover {
    -webkit-text-stroke-width: 1px;
    opacity: 1 !important;
}

.home {
    padding-bottom: 5px;
    transition: color 0.3s ease-in-out;
}

.home::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

.home:hover::after {
    width: 100%;
}

/* ------marin---padding----gap */
.gap_22 {
    gap: 22px;
}

.gap_20 {
    gap: 20px;
}

.hero_bg {
    border-radius: 0px 0px 36px 36px;
}

.hero_section_padding {
    padding-top: 127px;
    padding-bottom: 139px;
}

.hero_sub_heading {
    max-width: 188px;
    width: 100%;
    padding: 4px 16px;
    border-radius: 42px;
    border: 1px solid #9BC2A0;
    background: #9BC2A059;
    border-radius: 42px;
}

.hero_main_heading {
    max-width: 588px;
    margin-top: 14px;
}

.hero_office_img {
    max-width: 180px;
    border-radius: 20px;
}

.hero_btn_margin {
    margin-top: 54px;
}

.hero_learn_more_btn {
    border: 1px solid #000000;
    padding: 16px 32px;
    border-radius: 100px;
    background-color: transparent;
}

.hero_main_img {
    max-width: 493px;
    border-radius: 36px;
    margin-top: 30px;
}

.hero_main_img_layer {
    right: 0%;
    top: 15%;
}

.edward_box {
    max-width: 161.92px;
    width: 100%;
    height: 159px;
    border-radius: 8.86px;
    box-shadow: 1.77px 1.77px 29.01px 0px #00000014;
    bottom: 10%;
    right: 7%;
    padding: 10px 6px;
    background-color: white;
    z-index: 2;
}


@media (max-width: 992.9px) {
    .mobile_view {
        position: absolute;
        backdrop-filter: blur(60px);
        background-color: black;
        height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 300ms linear;
        z-index: 3;
    }

    .overflow_hidden {
        overflow: hidden !important;
    }

    .menu span:nth-child(1) {
        height: 2px;
        width: 30px;
        background-color: white;
        display: block;
    }

    .menu span:nth-child(2) {
        height: 2px;
        width: 30px;
        background-color: white;
        display: block;
    }

    .menu span:nth-child(3) {
        height: 2px;
        width: 30px;
        background-color: white;
        display: block;
    }

    .menu span {
        transition: 300ms linear;
    }

    .cross span:nth-child(1) {
        transform: rotate(42deg) translateY(13px);
        transition: 300ms linear;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 300ms linear;
    }

    .cross span:nth-child(3) {
        transform: rotate(-43deg) translateY(-13px);
        transition: 300ms linear;
    }
}